:root {
  /* ===== Brand Colors ===== */
  --global--color-primary: #f2be33;
  --global--color-secondary: #feef9f;
  --global--color-background: #fcf4d7;
  --global--color-background-text: rgba(242, 190, 51,0.1);
  --global--color-heading: #424242;
  --global--color-text: #828282;
  --global--color-border: #ccc;
  --global--color-white: #fff;
}

body {
  background: var(--global--color-background);
  color: var(--global--color-heading);
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang,Microsoft YaHei,Source Han Sans TC,Noto Sans CJK TC,WenQuanYi Micro Hei,sans-serif;
  border-top: 9px solid var(--global--color-primary);
  border-image-slice: 1;
  border-image-source: linear-gradient(45deg, var(--global--color-primary) 0%, var(--global--color-secondary) 100%);
}

.background-text {
  position: absolute;
  top: 0;
  left: 5%;
  font-size: 120px;
  font-family: serif;
  font-style: italic;
  letter-spacing: 10px;
  color: var(--global--color-background-text);
  width: 95%;
  overflow: hidden;
}

section {
  width: 600px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
}

.intro {
  position: relative;
}

.profile {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  object-fit: cover;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

.card {
  background: var(--global--color-white);
  box-sizing: border-box;
  margin-top: 80px;
  padding: 55px 20px 10px 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
}
.card h1 {
  font-size: 1.25rem;
  margin-bottom: 0;
}
.card h2 {
  font-size: 1rem;
  padding-bottom: 20px;
  margin-top: 8px;
  margin-bottom: 20px;
  border-bottom: 1px dotted var(--global--color-border);
  color: var(--global--color-text);
}
.card h3 {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 10px;
  margin-right: 20px;
  display: inline-block;
}
.card h3 + p {
  display: inline-block;
  margin-bottom: 10px;
}
.card p {
  color: var(--global--color-text);
  margin-top: 0;
}
.card a {
  color: var(--global--color-primary);
}
.card a:hover {
  opacity: 0.5;
}

.link h2,
.social h2 {
  font-size: 1.25rem;
}

.link {
  text-align: center;
}
.link a {
  display: block;
  background: var(--global--color-white);
  color: var(--global--color-primary);
  padding: 15px 20px;
  margin-bottom: 15px;
  border: 2px solid;
  border-radius: 5px;
}
.link a:hover {
  background: var(--global--color-primary);
  color: var(--global--color-white);
  border-color: var(--global--color-primary);
}
.link a + h2 {
  margin-top: 30px;
}

.social {
  text-align: center;
}
.social a {
  color: var(--global--color-primary);
}
.social a:not(:last-child) {
  margin-right: 5px;
}
.social a:hover {
  opacity: 0.5;
}
.social svg {
  font-size: 36px;
}

footer {
  text-align: center;
  color: var(--global--color-text);
}
footer a {
  color: var(--global--color-primary);
}

@media only screen and (min-width: 768px) {
  .background-text {
    font-size: 220px;
  }
  .card {
    margin-top: 150px;
  }
}

@media only screen and (min-width: 992px) {
  .background-text {
    font-size: 250px;
  }
  .card {
    margin-top: 180px;
  }
}

@media only screen and (min-width: 1200px) {
  .background-text {
    font-size: 300px;
  }
  .card {
    margin-top: 200px;
  }
}
